{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div class="flex items-center gap-2 text-sm">
    <span>{{ $label }}: </span>
    <ul class="flex flex-wrap [&>li:not(:last-child)]:after:content-[',\00A0']">
      {{- range . }}
        <li><a href="{{ .RelPermalink }}" class="text-sky-800 hover:underline">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
  </div>
{{- end }}