{{ define "main" }}
<article class="prose prose-lg lg:prose-xl max-w-none space-y-16 lg:space-y-24">
    <header>
        <h1>{{ .Title }}</h1>
        <p class="!-mt-5 text-sm"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Monday, 2 January 2006" }}</time></p>
    </header>

    <div>
        {{ .Content }}
    </div>
</article>

<nav aria-label="Pagination" class="flex items-center justify-between gap-16 lg:gap-24">
    {{ with .Next }}
        <a href="{{ .RelPermalink }}" class="inline-flex items-center gap-2 font-semibold hover:underline">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
            </svg>
            <span>{{ .Title }}</span>
        </a>
    {{ else }}
        <span></span>
    {{ end }}

    {{ with .Prev }}
        <a href="{{ .RelPermalink }}" class="inline-flex items-center gap-2 font-semibold hover:underline text-right">
            <span>{{ .Title }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
            </svg>
        </a>
    {{ end }}
</nav>
{{ end }}
