{{ define "main" }}
<article class="prose lg:prose-lg xl:prose-xl">
    <header>
        <h1>{{ .Title }}</h1>
        <p class="!-mt-8 !mb-16 text-base opacity-75">
            <span>Posted at <time datetime="{{ .Date | time.Format "2006-01-02T15:04" }}">{{ .Date | time.Format ":date_long" }}</time></span>
            <span>&bullet;</span>
            <span>{{ .ReadingTime }} {{ cond (eq .ReadingTime 1) "min" "mins" }} reading</span>
        </p>
    </header>

    <div class="mt-24">
        {{ .Content }}
    </div>
</article>
{{ end }}